.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: burlywood;
    padding-bottom: 30px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 30px;
}
img.icon {
    width: 50px;
    height: 50px;
}
.login {
    font-size: 1.7rem;
    font-weight: bolder;
}
.text {
    font-size: 0.8rem;
    font-weight: lighter;
}
.underline {
    width: 15rem;
    background: black;
    height: 0.4rem;
    border-radius: 2rem;
}
/* .text-focus {
    background-color: rgb(230, 142, 12);
    outline: none;
} */

/* .fi fi-rr-user {
    size: 200px;
} */
/* img.coffee-background {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
/* .input {
    size: 5px;
} */
