.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: burlywood;
    padding-bottom: 30px;
}
.LoginHeading {
    size: 200px;
}
/* .input {
    size: 5px;
} */
