/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.LoginHeading {
    font-size: 1.45rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
} */
